/* Main Font in (style.css) */
/* If required new font add here! */

@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

/* All Custom Colors in (style.css) || [:root] || */
/* Add / Change if required! */

/* Header Section Styles Start */

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 5rem;
    padding: 1.5rem 4rem;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--lightblack);
    transition: all 0.3s ease;
}

header.padding {
    padding: 0.8rem 3rem;
    box-shadow: 0 6px 16px rgb(10, 10, 24, 0.3);
}

/* Navbar Logo */

header div.navbar-logo a svg {
    display: none;
}

header div.navbar-logo a.logo {
    text-decoration: none;
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 600;
    font-family: "Itim", sans-serif;
    letter-spacing: 1.5px;
}

/* Navbar Hamburger Menu */

header div.menu-icon {
    position: relative;
    width: 55px;
    height: 55px;
    background: none;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div.menu-icon span.menu-inner {
    position: absolute;
    width: 70%;
    height: 4px;
    background: var(--lightwhite);
    border-radius: 4px;
}

header div.menu-icon span.menu-inner:before,
header div.menu-icon span.menu-inner:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--lightwhite);
    border-radius: 4px;
}

header div.menu-icon span.menu-inner:before {
    top: -11px;
}
header div.menu-icon span.menu-inner:after {
    top: 11px;
}

/* Navbar Hamburger Menu Animation */

header div.menu-icon span.menu-inner,
header div.menu-icon span.menu-inner:before,
header div.menu-icon span.menu-inner:after {
    transition: transform, top, opacity, cubic-bezier(0.5, 0.1, 0.6, 0.2) 0.2s;
}

header div.menu-icon.menu-active span.menu-inner {
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(0.2, 0.6, 0.3, 1);
    transform: rotate(225deg);
}

header div.menu-icon.menu-active span.menu-inner:before {
    top: 0;
    opacity: 0;
    transition: top, opacity, 0.1s ease-out;
}

header div.menu-icon.menu-active span.menu-inner:after {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s ease-out,
        transform 0.2s cubic-bezier(0.2, 0.6, 0.3, 1) 0.1s;
}

/* Desktop Navbar */

header div.desktop_nav ul {
    position: relative;
    display: flex;
}

header div.desktop_nav ul li {
    list-style: none;
    margin: 1rem 0 0;
}

header div.desktop_nav ul li a {
    position: relative;
    text-decoration: none;
    color: var(--white);
    margin: auto 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1.4px;
    transition: all 0.3s ease;
}

header div.desktop_nav ul li a:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--lightyellow);
    border-radius: 2px;
    transform: scale(0, 1);
    transform-origin: 50% 50%;
    transition: transform 0.3s ease;
}

header div.desktop_nav ul li a:hover {
    color: rgba(255, 255, 255, 0.6);
}
header div.desktop_nav ul li a:hover:after {
    transform: scale(1, 1);
}

/* Mobile Navbar */

header div.mobile_nav {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    padding: 4rem 4rem 1rem;
    z-index: -1;
    background: var(--lightblack);
    box-shadow: 0 2px 6px rgba(4, 4, 15, 0.6);
    transition: all 0.5s ease;
}

header div.mobile_nav.menu-active {
    transform: translateY(0);
}

header div.mobile_nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header div.mobile_nav ul li {
    list-style: none;
    margin: 1rem auto 0.5rem;
}

header div.mobile_nav ul li a {
    position: relative;
    text-decoration: none;
    color: var(--lightwhite);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

header div.mobile_nav ul li a:hover {
    color: var(--lightgrey);
}

/* Navbar Responsive Media */

@media (max-width: 950px) {
    header div.navbar-logo a svg.home {
        fill: white;
        display: block;
    }

    header div.navbar-logo a.logo {
        display: none;
    }
}

@media (max-width: 800px) {
    header {
        justify-content: space-between;
        padding: 1.75rem;
    }

    header div.desktop_nav ul li a {
        margin: auto 1rem;
    }
}

@media (max-width: 700px) {
    header {
        justify-content: space-between;
        padding: 1.5rem;
    }

    header div.desktop_nav ul li a {
        margin: auto 1rem;
    }
}

@media (max-width: 668px) {
    header div.desktop_nav ul li a {
        margin: auto 0.5rem;
    }
}

@media (max-width: 640px) {
    header div.desktop_nav {
        display: none;
    }

    header.padding {
        padding: 0.8rem 2rem;
    }
}

@media (min-width: 640px) {
    header div.menu-icon {
        display: none;
    }

    header div.mobile_nav {
        display: none;
    }
}
