/* Main Font in (style.css) */
/* If required new font add here! */

/* All Custom Colors in (style.css) || [:root] || */
/* Add / Change if required! */

/* Projects Section Styles Start */

.projects {
    padding: 7rem 4rem 2rem;
}

.projects h2.projects_heading {
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    color: var(--darkgrey);
    text-align: center;
    letter-spacing: 1px;
}

.projects .project-wrapper {
    margin: 3rem auto;
}

.projects .project-wrapper .cards-container {
    height: 24rem;
    margin: 1rem auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    z-index: 2;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.projects .project-wrapper .cards-container:before,
.projects .project-wrapper .cards-container:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: 1;
    transition: transform 0.6s cubic-bezier(0.05, 0.2, 0.1, 1),
        opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.projects .project-wrapper .cards-container:before {
    opacity: 1;
    transform: translateY(0);
    background: linear-gradient(180deg, #0f0f0f00, #0f0f0fbf);
}

.projects .project-wrapper .cards-container:after {
    opacity: 0;
    transform: translateY(50px);
    background: linear-gradient(180deg, transparent, var(--darkgrey));
}

.projects .project-wrapper .cards-container:hover:before {
    opacity: 0;
    transform: translateY(50px);
}

.projects .project-wrapper .cards-container:hover:after {
    opacity: 1;
    transform: translateY(0);
}

.projects .project-wrapper .cards-container .card-background {
    height: 100%;
}

.projects .project-wrapper .cards-container .card-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 1s ease;
}

.projects .project-wrapper .cards-container:hover .card-background img {
    transform: translateY(-20px) scale(1.1);
}

.projects .project-wrapper .cards-container .card-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.projects .project-wrapper .cards-container .card-desc h6 {
    color: var(--lightwhite);
    margin: 10px 5px;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    transform: translateY(55px);
    transition: all 0.6s ease;
}

.projects .project-wrapper .cards-container .card-desc h4 {
    color: var(--lightwhite);
    margin: 5px;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.8px;
    transform: translateY(60px);
    transition: all 0.6s ease;
}

.projects .project-wrapper .cards-container .card-desc p {
    opacity: 0;
    transform: translateY(30px);
    color: var(--lightwhite);
    margin: 20px 5px 10px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.2px;
    transition: all 0.5s ease;
}

.projects .project-wrapper .cards-container:hover .card-desc h6,
.projects .project-wrapper .cards-container:hover .card-desc h4 {
    transform: translateY(0);
}
.projects .project-wrapper .cards-container:hover .card-desc p {
    opacity: 0.8;
    transform: translateY(0);
}

@media (max-width: 512px) {
    .projects {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
