@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --lightblack : #111122;
    --lightblue : #1b83d8;
    --white : #ffffff;
    --darkblue : #104c7e;
}

.projects {
    width: 100%;
    padding: 7rem 4rem 2rem;
}

.projects .project-wrapper {
    margin: 1.6rem auto;
}

.projects .project-wrapper .card {
    margin: 1rem 0;
    text-align: center;
    border: none;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.4s;
    cursor: pointer;
}

.projects .project-wrapper .card:hover {
    transform: translateY(-15px) scale(1.015);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.projects .project-wrapper .card img {
    height: 13rem;
    width: 100%;
}

.projects .project-wrapper .card .card-content {
    padding:  0rem 1rem 1rem;
}

.projects .project-wrapper .card .card-content .card-header {
    border: none;
    background: transparent;
}

.projects .project-wrapper .card .card-content .card-des {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    margin-bottom: 1.5rem;
}

.projects .project-wrapper .card .card-content .card-btn {
    background: var(--lightblue);
    outline: none;
    border: none;
    padding: 8px 18px;
    color: var(--white);
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
}