@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    --lightblack: #111122;
    --lightblue: #1b83d8;
    --white: #ffffff;
    --lightwhite: #f1f6f9;
    --lightgrey: #9ba4b4;
    --darkblue: #104c7e;
    --lightyellow: #fddb3a;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--lightblue);
    border-radius: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: var(--lightwhite);
    font-family: "Poppins", sans-serif;
}
